<html>
<head>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}" />
</head>
<body>
  <div class = 'pane'>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <h1>Restaurants</h1>
    <a href = '{{url_for('newRestaurants')}}'> <p>Create a new Restarant</p></a>


    {% for i in restaurants %}

    <a href = '{{url_for('showMenu', restaurant_id=i.id)}}'> <h2>{{i.name}}</h2></a>
    <p><a href='{{url_for('editRestaurants',restaurant_id = i.id)}}' >Edit Restaurant</a></p>
    <p><a href='{{url_for('deleteRestaurants',restaurant_id = i.id)}}'> Delete Restaurant </a></p>
    </br>
    {% endfor %}
  </div>
</body>
</html>
